#body1{
	background:#e2e2e2;
}
#bg-primary{
	background-color:#11235A !important;
}

#banner{
	background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../images/home.jpg);
	width:100%;
	height:93vh;
	background-size:cover;
	color:white;
}

#my-card{
	padding:20px;
    background: #FFFFFF; /* Adjust this color as needed */
}