<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
	<div class="container">
			<div class="col-md-8 offset-md-2">
				<div id="my-card" class="mt-3">
					<div class="container text-center">
						<img class="" style="width: 100px; height: 100px" alt=""
							th:src="@{/images/forget.png}" >
					</div>
					<h1 class="text-center">Login here</h1>
					<form th:action="@{/sendOTP}" method="post">
						<div class="alert alert-danger" th:if="${response!=null}" th:text="${response}" role="alert"></div>
						<div class="mb-3">
							<label class="form-label">Email Id</label> <input type="email"
								class="form-control" name="email">
						</div>
						
						
						<div class="container">
							<div class="text-center">
								<button type="submit" class="btn btn-warning text-white">Send OTP</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</section>

</body>
</html>